footer {
  width: 70%;
  min-height: 100px;
  white-space: pre-wrap;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  .phone {
    color: darken(#54bad0, 20%);
    font-weight: bolder;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column;

    div {
      margin-bottom: 10px;
    }
  }
}
