footer {
  width: 100%;
  border-top: 1px dashed gray;
  min-height: 100px;
  white-space: pre-wrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  .phoneContainer {
    text-align: center;
  }

  .phone {
    font-size: large;
    margin-top: 20px;
    display: inline-block;
  }
}